<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAN Survey Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>MEAN Survey Form</h1>
        <form action="/process" method="post">
            <div class="form-group">
                <label for="name">Your Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
                <label for="location">Dojo Location:</label>
                <select class="form-control" name="location">
                    <option>Python</option>
                    <option>Java</option>
                    <option>Javascript</option>
                    <option>Ruby</option>
                </select>
            </div>
            <div class="form-group">
                <label for="language">Favorite Language:</label>
                <select class="form-control" name="language">
                    <option>San Jose</option>
                    <option>Seattle</option>
                    <option>Washington</option>
                    <option>Dallas</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comment (optional)</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>