<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEAN Survey Form Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Submitted Information:</h1>
        <p>Name: <%=data.name%></p>
        <p>Dojo Location: <%=data.location%></p>
        <p>Favorite Language: <%=data.language%></p>
        <p>Comment: <%=data.comment%></p>
    </div>
    
</body>
</html>